function getType(value) {
  if (value === undefined) {
    return 'undefined';
  }

  if (value === null) {
    return 'null';
  }

  if (value.constructor === 'Array') {
    return 'array';
  }

  return typeof value;
}

function isCompositeType(value) {
  var type = getType(value);

  return type === 'array' || type === 'object';
}

function filter(filterText, key) {
  if (!filterText) {
    return true;
  }

  return key.indexOf(filterText) > -1;
}

module.exports = {
  getType: getType,
  isCompositeType: isCompositeType,
  filter: filter,
};
